@model IEnumerable<project.Models.Orders>

@{
    ViewBag.Title = "ShowOrder";
}
<br /><br />
<h2>ADMIN PANEL</h2>
<br /><br />
<div class="container"><div class="btn-outline-dark pull-right ">@Html.ActionLink("Logout", "Logout", "Admin")</div></div>
<h4>@Html.ActionLink("Home", "index")/@Html.ActionLink("Orders", "ShowOrder")</h4>


<h3>Orders Placed by @ViewBag.customers.Username </h3>




<div class="well well-small">
    <hr class="soften" />

    <div class="bs-docs-example">

        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Username</th>
                    <th>Product</th>
                    <th>Status</th>


                </tr>
            </thead>


            @foreach (var item in Model)
            {

                foreach (var products in ViewBag.products)
                {
                    if (item.uis == ViewBag.customers.id)
                    {
                        if (products.id == item.pid)
                        {
                            <tr>
                                <td>@ViewBag.customers.id</td>
                                <td> @ViewBag.customers.Name</td>
                                <td> @products.Name</td>
                                <td>@item.status</td>
                                <th>
                                    @Html.ActionLink("Approve", "OrderStatus", new { Cid = (int)ViewBag.customers.id, Oid = item.id, status = 1, RedirtectFrom = 1 }, null)
                                    @Html.ActionLink("Reject", "OrderStatus", new { Cid = (int)ViewBag.customers.id, Oid = item.id, status = 0, RedirtectFrom = 0 }, null)>
                                </th>

                            </tr>


                        }


                    }
                }
            }


        </table>
    </div>
